
<div class="content">
  <div class="row">
    <h1 class="head">Your places guide</h1>
  </div>
  <div class="row text-justify">
    <div class="col-md-2">
      <form onsubmit="" id="searchForm">
        <div class="row">
          <div class="col-md-12" align="center">
            <h2>Mes critères</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-12" align="center">
              <h4 class="bg-info">NOM</h4>
            </div>
            <div class="input-group">
             <input type="text" class="form-control" placeholder="NOM(restaurant, bars)..." id="txtSearch"/>
             <div class="input-group-btn">
                  <button class="btn btn-primary" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
             </div>
           </div>
          </div>

           <div class="col-md-12" align="center">
             <h4 class="bg-info">RAYON</h4>
           </div>
           <div class="custom-control custom-checkbox col-md-12">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label" for="customCheck1"> 0 - 5 km</label>
           </div>

           <div class="custom-control custom-checkbox col-md-12">
             <input type="checkbox" class="custom-control-input" id="customCheck2">
            <label class="custom-control-label" for="customCheck1"> + 5 km</label>
          </div>

          <div class="col-md-12" align="center">
            <h4 class="bg-info">RATING</h4>
          </div>

          <div class="col-md-12">
            <div class="star-rating">
              <span class="fa fa-star-o" data-rating="1"></span>
              <span class="fa fa-star-o" data-rating="2"></span>
              <span class="fa fa-star-o" data-rating="3"></span>
              <span class="fa fa-star-o" data-rating="4"></span>
              <span class="fa fa-star-o" data-rating="5"></span>
              <!-- <input type="hidden" name="whatever1" class="rating-value" value="2.56"> -->
            </div>
          </div>
          </div>

      </form>
    </div>
    <div class="col-md-7">
      <div id="mapid"></div>
    </div>
    <div class="col-md-3">
      <h2 id="name" style="text-align:center;"></h2>
      <div id="image">
        <img id="imageMarker" src="" style="width:100%">
      </div>
      <div id="markerInfos" hidden>
        <ul class="list-group">
         <!-- <li class="list-group-item">Name<span id="name" class="badge"></span></li> -->
         <li id="address" class="list-group-item">Address<span class="badge"></span></li>
         <li class="list-group-item">Rating<span id="rating" class="badge"></span></li>
         <li class="list-group-item">Reviews number<span id="reviews" class="badge"></span></li>
         <li class="list-group-item">Status<span id="status" class="badge"></span></li>
         <li class="list-group-item">Phone<span id="phone" class="badge"></span></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/routes.js"></script>
<script src="/js/index.js"></script>
